

.software-dev {
    color: #36b37e;
}

.badge {
    background-color: #ebf0ee;
}

@media (min-width: 992px) {
    .max-width {
        max-width: 580px;
    }

    .header-headline-container {
        background-image: url(images/header-desktop.png);
        background-size: cover;
        background-position: top;
        height: 100vh;
    }

    .headline {
        margin-top: 80px;
    }

    .img-container {
        height: 300px;
    }

    .portfolio {
        margin-top: 50px;
    }

}