

.software-dev {
    color: #36b37e;
}

.badge {
    background-color: #ebf0ee;
}

@media (min-width: 992px) {
    .max-width {
        max-width: 580px;
    }

    .header-headline-container {
        background-image: url(images/header-desktop.png);
        background-size: cover;
        height: 100vh;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
    }

    .headline {
        margin-top: 80px;
    }

    .img-container {
        height: 300px;
    }

}